body{
    margin:0;
}

.container1{
    display: flex;
    width: 100%;

}

.img_login{
    width: 60%;
    display: flex;
    align-items: center;
    height: 100vh;
    background: rgba(185, 125, 141, 0.2);
}

.formAncho{
    width: 100%;
}

.img-web{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.img-movil{
    display: none;
}

.formulario{
    width: 40%;
    display: flex;
    justify-content: center;
}

.formAncho{
    width: 65%;
    padding: 30px 47px;
}

.caseTitle{
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.titulo{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.email{
    margin: 0px 0px 8px 0px;
    display: flex;
    justify-content: center;
    
}

.txt_email{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div_email{
    display: flex;
    justify-content: center;
}

.frm-email{
    border-radius: 7px;
    margin: 14px 0px 0px 0px;
    width: 100%;
    height: 45px;
    
    
    
}

.div_password{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    
}

.frm-password{
    border-radius: 7px;
    width: 100%;
    height: 45px;
    margin-bottom: 0px;
}

.forgot_password{
    margin-top: 5px;
    color: #6BACB3;
    display: flex;
    justify-content: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div_login{
    display: flex;
    justify-content: center;
    margin: 25px 0px 18px 0px;
}

.div_botton{
    display: flex;
    justify-content: center;
}

.Login_botton{
    border-radius: 7px;
    background-color: #7EBCC3;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn_google{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.singUP{
    margin: 0px 0px 18px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

.or{
    margin: 0px 0px 28px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.linea {
    text-align: center;
    position: relative;
    z-index: 1;
}
.linea::before {
    border-top: 2px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
}
.linea span {
    background-color: white;
    padding: 0 15px;
}

.text_input{

            font-size: medium;
            padding-left: 10px;
            padding-right: 0px;
         }

.correo_contra{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    color: #CB2424;
}

.errorInputs{
    margin-top: 0px;
    font-size: 13px;
    font-family: sans-serif;
    color: #CB2424;
}

.sesion{
    color: #45ae1b !important;
}


@media (max-width:425px){
    
   
   .container1{
    display: block;
   }
   .img_login{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: none;
    margin: 0px 47px;
    margin-top: 64px;

   }

   .img-web{
    display: none;
    }
   
   .img-movil{
    height: auto;
    width: auto;
    display: block;
   }

    .formulario{
        width:100%;
        padding: 30px 47px;
        margin-top: 0px;

    }
   

   .titulo{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }

    .forgot_password{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .txt_email{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    .text_input{
        padding-left: 20px;
    }

    

}